{{#each list}}
<div class="product__card">
    <h3 class="product__name">{{name}}</h3>
    <p class="product__description">{{description}}</p>
    <span class="product__id">id: {{id}}</span>
    <div class="product__horizont">
        <span class="product__price">{{price}}₴</span>
        <a href="/product-edit?id={{id}}" class="product__edit">Редагувати</a>
    </div>
</div>
{{/each}}